/* --- FONTS --- */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* --- COLOR  --- */
:root {
  --yellow: #FFE298;
  --blue: #0063f8;
  --blueWhite: #9CC4FF;
  --gray: #5A5A5A;
  --red: #FF9C9C;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: var(--yellow);
  font-family: 'Roboto', sans-serif;
}

.screen-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.main{
  flex-basis: 30%;
  text-align: end;
  padding-right: 41px;
}

.title {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 48px;
  
}

.text-blueWhite {
  font-weight: 400;
  color: var(--blueWhite) !important;
}

.cep {
  width: 186px;
  height: 44px;
  border-radius: 4px;
}

.cep::placeholder{
  padding-left: 10px;
}

.btn {
  background-color: var(--blueWhite);
  width: 44px;
  height: 44px;
  margin-left: 12px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  outline: none;
}

.btn i {
  color: var(--yellow);
}

.text-hidden {
  color: var(--gray);
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--blueWhite);
  border-radius: 8px;
  height: 104px;
  padding: 17px;
}

.msg {
  color: var(--red);
  display: block;
  margin-top: 5px;
  margin-right: 61px;
  font-size: 13px;
}